@font-face {
   font-family: 'Century Gothic Regular';
   src: url(../fonts/century-gothic/gothic-regular.TTF);
}

@font-face {
   font-family: 'Century Gothic Bold';
   src: url(../fonts/century-gothic/gothic-bold.ttf);
}

@font-face {
   font-family: 'Myriad Pro Regular';
   src: url(../fonts/myriad-pro/MyriadPro-Regular.ttf);
}

@font-face {
   font-family: 'Myriad Pro Bold';
   src: url(../fonts/myriad-pro/MyriadPro-Bold.ttf);
}