.contact{
   padding: 60px 0;
   background: url(../images/contact/background-contact.png) no-repeat top center/cover;

   .section-header{
      h2{
         font-family: 'Century Gothic Bold';
         font-size: 40px;
         text-transform: uppercase;
      }
   }
}